<h1>Mise &agrave; jour des Bases de Donn&eacute;es</h1>

<%=form_tag   trips_charge_path , multipart: true do %>

<div class='field'>
<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
</div>

<div class='field'>
<%=text_field_tag :fichier%>
</div> 

<div class='actions'>
<%=submit_tag "Charge"%>
</div> 


 
 
<% end %>



<%@alimx.each  do |fichier| %> <br /> 
<%=fichier%>
<%end%>

 <br /> <%=@li.inspect%>