<h1>Releve des perturbations du reseau</h1><br/>

<%@li%>
<%@xmlret%>
 <table border="1">
	<tr>
	<th>Titres</th>
	
	<th>Messages</th>
	
	
	<th>Type</th>
	<th>Niveau d'importance</th>
    </tr>

    <%if @li %>
		    <%@li.each do |pert|%>
		    <tr>
		    
		  	<td><%=pert['title'].to_s[2..-3]%></td>    
		    <td><%=pert['content']['content']%></td>
		   
		    <td><%=pert['type']%></td>
		 	<td><%=pert['importanceLevel']%></td>
		    </tr>

		    <%end%>
	<%end%>		    
 
</table>
 

<h3><%=link_to( "Retour" , horaires_index_path)%> </h3>   